body {
  margin: 0px;
  padding: 0px;
}
.background {
  background-image: url("./test.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -50px;
  height: 600px;
}
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e1e1e1;
}
.navbar a {
  display: inline-block;
  padding: 10px;
}
.menu {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.textbar {
  display: flex;
  justify-content: center;
  margin: 220px auto 0px;
}
b {
  text-decoration: none;
  color: #ffffff;
}
.box {
  display: flex;

  margin: 20px auto 0px;
  width: 400px;
  height: 40px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.wrap {
  margin-bottom: 20px;
}
.bar {
  display: inline-block;
  margin-top: 20px;
}
.Nationality {
  background-color: white;
  margin: 0px 90px;
  width: 90px;
}
.Nationality_bar {
  margin: 0px;
  width: 100px;
  background-color: #f6f6f6;
}

.Kategorie_bar {
  margin: 0px auto;
  width: 100px;
  background-color: #f6f6f6;
  text-align: center;
  list-style: none;
}
.menubar {
  display: flex;
}
.kind_bar {
  margin: 0px;
  width: 100px;
  background-color: #f6f6f6;
  text-align: center;
  list-style: none;
}
.kind_bar.active {
  margin: 0px;
  width: 100px;
  background-color: #f6f6f6;
  text-align: center;
  list-style: none;
  display: flex;
}
.Kategorie_bar.active {
  display: flex;
}

.category-toggle,
.kind-toggle {
  display: none;
}
.menu_kind {
  position: relative;
}
.menu-category {
  position: relative;
}
.category-toggle {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
.kind-toggle {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
.category-toggle.show,
.kind-toggle.show {
  display: block;
}
.menu-category {
  padding: 0px;
}
.menubar_categorytooglebar {
  padding: 0px;
}
ol {
  padding: 0px 10px;
}
input {
  width: 10px;
}
.ad_kind {
  text-decoration: none;
}
.ad {
  display: flex;
}
.file_in {
  width: 100px;
}

input[id="image"],
input[id="video"] {
  width: 20px;
  height: 20px;
}
li {
  text-decoration: none;
}
.checkbox {
  padding: 10px;
}
.grid {
  display: grid;

  max-width: 1400px;
  width: 100%;

  margin: 0px auto;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 20px;
  grid-gap: 5px;

  min-height: 400px;
}
.item {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.item > img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
input[type="text" i] {
  width: 400px;
  height: 20px;
}
.search_bar {
  display: flex;
  padding-left: 500px;
}
