* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  text-emphasis: none;
  padding: 10px 12px;
  padding-left: 10px;
  color: black;
}
ul {
  list-style: none;
  margin: 0;
  padding: 3px;
  text-decoration: none;
}
li {
  text-decoration: none;
}
input[type="text" i] {
  width: 400px;
  height: 20px;
}
.required {
  position: relative;
}
.required::before {
  content: "*";
  position: absolute;
  top: 0;
  left: 100%;
  color: red;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #e1e1e1;
  position: sticky;
}
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e1e1e1;
}
.navbar a {
  display: inline-block;
  padding: 10px;
}
.menu {
  display: flex;
  align-items: center;
}
#title > h1 {
  margin: 0;
  padding: 14px;
  text-align: center;
  background-color: rgba(77, 77, 77, 0.1);
  box-sizing: border-box;
}
.list {
  display: flex;
}
.itemLeft {
  width: 100%;
  border: 1px solid #acacac;
}
.dateWrap {
  padding: 16px;
  font-size: 22px;
  color: #acacac;
}
.itemWrap {
  display: flex;
  overflow-x: scroll;
}
.item {
  position: relative;
  flex: 0 0 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 33%;
  max-height: 250px;
  margin: 20px;
  padding: 16px;
  border: 1px solid #acacac;
  box-sizing: border-box;
  cursor: pointer;
}
.item > img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.item:hover > .hovered {
  display: flex;
}
.hovered {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #e8edf0a8;
  display: none;
}
.hovered > img {
  width: 50%;
  height: 50%;
}
#zoomWrap {
  display: none;
}
#zoomBack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
#zoomMain {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 40px;
  background-color: rgb(224, 224, 224);
  z-index: 3;
}
#zoomImageWrap {
  display: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
}
#zoomImage {
  max-width: 100%;
  max-height: 100%;
}
.zoomOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  text-align: center;
  background-color: rgb(224, 224, 224);
}
.zoomOptions > * {
  margin: 0 12px;
  font-size: 18px;
}
.zoomOptions > button {
  border: 0;
  padding: 8px 12px;
  background-color: rgb(194, 194, 255);
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}
#zoomImageSubLink,
#zoomYoutubeSubLink {
  display: inline-block;
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  /* vertical-align: middle; */
}
#zoomYoutubeWrap {
  display: none;
  width: 1000px;
  height: 700px;
}
#zoomYoutube {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 90%;
}
